.container
  .row
    .col-md-3
      %h2 Resend confirmation instructions
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .form-group
          %div
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, class:"form-control"
        %div= f.submit "Resend confirmation instructions" class:"btn btn-primary"
      = render "devise/shared/links"
