<div class="container">
  <div class="row">
    <div class="col-md-3">

<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<div class="form-group">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class:"form-control" %></div>
</div>

  <div><%= f.submit "Resend unlock instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>

    </div>
  </div>
</div>
