<div class="container">
  <div class="row">
    <div class="col-md-3">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<div class="form-group">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class:"form-control"%></div>
</div>

  <div><%= f.submit "Send me reset password instructions", class:"btn btn-primary"%></div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
  </div>
</div>
