<div class="container">
  <div class="row">
    <div class="col-md-3">

<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="form-group">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class:"form-control" %></div>
</div>

<div class="form-group">
  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %></div>
</div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", class:"btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>

    </div>
  </div>
</div>
