
%nav
  .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
    .container
      .navbar-header
        = link_to image_tag("foundry94_logo.png"), root_url, class:"navbar-brand"

      %ul.nav.navbar-nav
        - if current_user
          %li
            = link_to "Log out", destroy_user_session_path, method: 'delete'
        - else
          %li
            = link_to 'Sign Up', new_user_registration_url
          %li.divider
          %li
            = link_to 'Login', new_user_session_url
        %li.divider

.page-header
  %h1
    Foundry94
    %small
      David Geisinger
