!!!
%html
  %head
    %title RailsTools
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

%body

  = render :partial => 'layouts/header'
  = yield
